body {
  box-sizing: border-box;
  background-color: black;
  margin:0;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: antiquewhite; */
  padding:0px;

}

.logo {
  width: 120px;
  height: 30px;
  margin-left: 60px;
  /* background-color: aqua; */
  margin-left: 20px;
}

.navBtns ul{
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: row; 
  /* background-color: cadetblue; */
  margin-right: 220px;
 
}

.navBtns ul li {
  
  list-style-type: none;
  margin-right: 40px;
}

.navBtns ul a {
    text-decoration: none;
    color: white;
    display: flex;
 
}

.search-bar {
    color: white;

    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    width: 300px;
    border-radius: 50px;
    box-shadow: 6px 6px 10px rgba(0,0,0,.3),
    -6px -6px 10px rgba(255,255,255,0.10);
    margin: 10px;
    position: relative;
    transition-duration: 1s;

}


.magnifier{
   
    width:25px;
    cursor: pointer;
    position: absolute;
    left: 20px;
   
}

.mic {
    width: 30px;
    position: absolute;
    right: 10px;
    transition-duration: .5s;
    transition-delay: 1s;

}

.input{
    border: none;
    margin: 10px 50px;
    outline: none;
    background-color:transparent;
  

}

.input::placeholder {
    color: red;
    opacity: 1; /* Firefox */
  }

textarea:focus, input:focus {
    color: #ff0000;
}

input, select, textarea{
    color: #000;
}

.active.search-bar-container{
    width: 50px;
} 

.active .input {
    width: 0;
}

.active .mic {
    width: 0;
}

.fa-bell {
    margin-right: 20px;
    cursor: pointer;
}

.fa-user {
    cursor: pointer;
}

.hero-section {
    color: white;
    position: relative;
}

.hero-section img {
 background-image: url('http://p1.pichost.me/i/32/1548022.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh;
  filter: brightness(50%);
 
  }

.filmInfo{
    position: absolute;
    left: 50px;
    top: 400px;
    line-height: 20px;

}  

.filmInfo h1{
    font-size: 80px;


}

.filmInfo h3 {
    font-size: 50px;
}

.filmInfo p{
    font-size: 30px
}

